
.main {
    height: 200px;
    width: 800px;
}


.air {
    color: red;
    height: 100px;
    width: 100px;
    font-size: 20px;
    background-color: blue;
   
}

.man {
    color: red;
    height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: rgb(6, 77, 59);
    
    margin-left:30px;
}

.mano {
    color: red;
    height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: rgb(77, 6, 53);
    
    left:30px;
}

